<brc-todo-list
  [todoColumns]="todoPageColumns"
  [todoDataSource]="todoPageDataSource"
  [todoShowRowSelection]="todoPageShowRowSelection"
  [todoTotalRecords]="todoPageTotalRecords"
  [todoRecordsPerPage]="todoPageRecordsPerPage"
  [todoPageIndex]="todoPageIndex"
  (btnAddTodo)="pageOnClickBtnAdd()"
  (rowClicked)="pageClickRow($event)"
  (rowsSelected)="pageSelectRow($event)"
  (sort)="pageSort($event)"
  (pageOnPageChange)="pageOnPageChange($event)"
  [todoButtonSubmit]="todoButtonSubmit"
  [todoButtonReset]="todoButtonReset"
  [todoLabelImportance]="todoLabelImportance"
  [todoLabelFromDate]="todoLabelFromDate"
  [todoLabelToDate]="todoLabelToDate"
  [todoLabelCategory]="todoLabelCategory"
  [todoPlaceholderSearch]="todoPlaceholderSearch"
  [todoTitleGroupCheckbox]="todoTitleGroupCheckbox"
  [todoTitleImportance]="todoTitleImportance"
  [todoTitleCategory]="todoTitleCategory"
  [todoDataCheckbox]="todoDataCheckbox"
  [todoDataCategory]="todoDataCategory"
  [todoDataImportance]="todoDataImportance"
  (valueFilter)="todoValueFilter($event)"
>
</brc-todo-list>
