<div class="container-fluid">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="20"></div>
    <div fxFlex="60">
      <div style="padding: 20px 10px 10px 10px;">
        <div>
          <div style="text-align: center; font-weight: 600;">
            <h1>
              <b>{{ configPollList.title }}</b>
            </h1>
          </div>
          <div style="margin-bottom: 20px; display: flex; justify-content: flex-start;">
            <button mat-raised-button color="primary" (click)="onClickBtnAdd()">
              <mat-icon>add</mat-icon>{{ configPollList.btnAdd }}
            </button>
            <brc-search style="margin-left: auto;" 
              [searchText]="searchText"
              [placeholder]="placeholder"
              (textSearch)="onChangeSearchEvent($event)">
          </brc-search>
          </div>
          <div style="margin: auto; display: block; min-width: 100%; overflow-x: auto;">
            <brc-table
              [columns]="pollColumns"
              [dataSource]="pollDataSource"
              [showButtonSelection]="pollShowButtonSelection"
              (rowDetail)="rowDetailEvent($event)"
              (rowDelete)="rowDeleteEvent($event)">
            </brc-table>
          </div>
          <div class="pagination-list" *ngIf="pollDataSource.length > 0">
            <brc-mat-paginator
              [total]="pollTotalRecords"
              [pageSize]="pollRecordsPerPage"
              [pageIndex]="pollPageIndex"
              (onPageChange)="onPageEvent($event)">
           </brc-mat-paginator>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="20"></div>
  </div>
</div>