<div
  class="container"
  style="padding: 5px 10px 10px 10px;"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
  fxLayout.gt-sm ="row "
  fxLayout.lt-md = "column"
>
  <div
    fxFlex="20"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxFlex.md="30"
    fxFlex.gt-lg="20"
    style="
      border: 1px solid #f0f0f0;
      height: 100%;
    "
  > 
  <div style="padding: 3px 29px 0 13px;">
    <brc-schedule-filter
      style="font-size: small"
      [buttonFilterSchedule]="buttonFilterSchedule"
      [labelScheduleFilter]="labelScheduleFilter"
      [placeholderFilterSchedule]="placeholderFilterSchedule"
      [dataCategory]="scheduleDataCategory"
      [dataImportance]="scheduleDataImportance"
      (valueFilter)="scheduleValueFilter($event)"
    ></brc-schedule-filter>
  </div>
  </div>

  <div
    fxFlex="80"
    fxFlex.sm="100"
    fxFlex.xs="100"
    fxFlex.md="70"
    fxFlex.gt-lg="80"
  >
    <div style="text-align: left; font-weight: 600;">
      <h1>
        <b>{{ configScheduleList.title }}</b>
      </h1>
    </div>
    <div style="margin: auto; display: flex; justify-content: flex-end;">
      <button mat-raised-button color="primary"  data-test="submit-action" (click)="onClickBtnAdd()">
        <mat-icon>add</mat-icon>{{ configScheduleList.btnAdd }}
      </button>
    </div>
    <div style="margin: auto; display: block; min-width: 100%; overflow-x: auto;">
      <brc-table
        [columns]="scheduleColumns"
        [dataSource]="scheduleDataSource"
        [showRowSelection]="scheduleShowRowSelection"
        (rowClicked)="handlerClickRow($event)"
        (rowsSelected)="handlerSelectRow($event)"
        (sort)="handlerSort($event)"
      >
      </brc-table>
    </div>
    <div class="pagination-list" *ngIf="scheduleDataSource.length > 0">
      <brc-mat-paginator
        [total]="scheduleTotalRecords"
        [pageSize]="scheduleRecordsPerPage"
        [pageIndex]="schedulePageIndex"
        (onPageChange)="onPageEvent($event)"
      ></brc-mat-paginator>
    </div>
  </div>
</div>
