.filter-label{
  display: inline-block;
  margin-left: 10px;
}
.row-button{
  display: flex;
  // flex-direction: row;
  justify-content: center;
}
.row-button > brc-button{
  text-align: center;
  margin:0px 15px;
}
.date{
  padding: 10x 0px;
  margin : 10px 0px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.date >brc-label{
  width : 100% !important;
}
.date > brc-datetime-picker{
  width: 99% !important;
}
.filter-container {
  padding: 20px;
  max-width: 500px;
  margin: auto;
}
