.mat-toolbar-row {
    max-height: 80% !important;
    height: 80% !important;
    padding : 0 0 !important;
  }
  .mat-button-toggle-label-content {
      line-height: 0px !important;
  }
  .mat-toolbar
  {
      background-color: white !important;
  }
  .container
  {
    width:100%;
    height: 100%;
  }
  .title-page{
    margin: 0px 0px 0px 10px;
  }
  .search{
    margin: 0.7em 20px 1em 0.2em;
  }
  .navbar{
    margin-bottom: 1em;
    border : 1px solid #f0f0f0;
  }
  .filter-notification{
    border : 1px solid #f0f0f0;
  }
  .notification-list{
    margin: 0 0 0 1em;
  }
  .title-content
  {
    cursor: pointer;
  }
