.mat-form-field-wrapper {
    margin-top: 10px;
  }
  
  .btnGroup {
    margin: 0px 0px;
    max-height: 50px !important;
  }
  
  .list-category {
    font-size: 15px;
  }
  
  .button-fil {
    min-width: 0;
    font-size: 12px;
    padding: 0 !important;
    max-height: 50px;
  }
  
  .button-fil:focus {
    background-color: rgb(165, 163, 163);
  }
  
  h2 {
    margin: 0 0 0 10px;
  }
  
  .buttonGroup {
    max-height: 50px;
  }